* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	background-image: url("imad-2016-app/ui/supernatural.jpg");
	
}

.container-fluid{
	margin:0 auto;
}

.h1{
    color:red;
}



    




